.header-container{
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 30px;
    color: fff;
    width: 100%;
    background-color: aqua;
}
.input-field{
    font-size: 1.2rem;
}
.button-submit{
    border: 1px solid green;
    color: green;
    border-radius: 8px;
    background-color: transparent;
    font-size: 1rem;
}

.form-add{
    color: red;
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}